<a href="https://colab.research.google.com/github/thalassa1/Portfolio/blob/main/DataScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#importing libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'

In [3]:
#Pull information from the url
page = requests.get(url)

In [4]:
soup = BeautifulSoup(page.text, 'html')

In [ ]:
print(soup)

In [6]:
#Specify what data we need
table = soup.find('table', class_ = 'wikitable sortable')

In [27]:
titles = soup.find_all('th')[1:7]
titles

[<th rowspan="2" scope="col">Name
 </th>,
 <th rowspan="2" scope="col">Industry
 </th>,
 <th scope="col">Revenue
 </th>,
 <th scope="col">Profit
 </th>,
 <th rowspan="2" scope="col">Employees
 </th>,
 <th rowspan="2" scope="col">Headquarters<sup class="reference" id="cite_ref-4"><a href="#cite_note-4">[note 1]</a></sup>
 </th>]

In [28]:
#List comprehension to remove tags
table_titles = [title.text.strip() for title in titles]

In [29]:
print(table_titles)

['Name', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters[note 1]']

In [30]:
#Putting column titles into data frame
df = pd.DataFrame(columns= table_titles)
df

Empty DataFrame
Columns: [Name, Industry, Revenue, Profit, Employees, Headquarters[note 1]]
Index: []

In [31]:
#Getting data from the table
column_data = table.find_all('tr')

In [34]:
#Adding every line of a table to a data frame with for loop using length and loc
for row in column_data[2:]:
  row_data = row.find_all('td')
  ind_row_data = [data.text.strip() for data in row_data]

  length = len(df)
  df.loc[length] = ind_row_data[:6]

In [35]:
df

,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1]
0,Walmart,Retail,"$611,289","$11,680","2,100,000",United States
1,Saudi Aramco,Oil and gas,"$603,651","$159,069","70,496",Saudi Arabia
2,State Grid Corporation of China,Electricity,"$530,009","$8,192","870,287",China
3,"Amazon.com, Inc.",Retail,"$513,983","−$2,722","1,541,000",United States
4,Vitol,Commodities,"$505,000","$15,000","1,560",Switzerland
...,...,...,...,...,...,...
95,Baowu,Steel,"$161,698","$2,493","245,675",China
96,Schwarz Gruppe,Retail,"$159,800",...,"575,000",Germany
97,Mitsubishi Group,Conglomerate,"$159,371","$8,723","79,706",Japan
98,Ford Motor Company,Automotive,"$158,057","−$1,981","173,000",United States
99,Mercedes-Benz Group,Automotive,"$157,403","$15,252","168,797",Germany

In [38]:
#Saving data frame as csv file
df.to_csv('/content/sample_data/companies.csv', index=False)